<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div class="default-page ">
  <section id="about"> <div class="about-heading"> Front-End Developer. Travel Enthusiast. Fussy Bibliophile.<br/> Guilty Glutton. Novice Writer. Dabbler. Wizard.</div>
 <div class="about-subheading"> Believes in Clear Code, Simple Designs, Muggles, Unicorns, Rainbows and Tony Stark.</div>
  <img src="/images/about-new.png"></img>
</section>

  <section id="about-detail">
    <div class="container">
<div class="about-subheading"> I stumbled upon front-end development as a campus hire in Deloitte about 3 years back. As a part of the Bangalore studio, this accidental stumbling culminated into a love affair. Many web projects were conceived and born with different frameworks and the liaison has continued ever since. </div>
<div class="about-subheading"> So, in short,  a Front-End Developer by day and dabbler by night. I dabble in everything and anything. There is a lot of learning left to do and I am always insatiable. Whether its a new front-end framework, a thrifty travel hack, an undiscovered moral of a story or a new marvel theory...I dabble away! </div>
</div>
</div>
  </section>

  <section id="work">
    <div class="container">
      <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Frameworks</h5>
      <div class="card-text"><ul>
          <li>Bootstrap</li>
          <li>Material Design</li>
          <li>Framework7</li>
          <li>Angular JS</li>
          <li>React JS</li>
          <li>Sails JS</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Languages</h5>
      <div class="card-text"><ul>
          <li>HTML</li>
          <li>Handlebars</li>
          <li>CSS</li>
          <li>Sass</li>
          <li>Less</li>
          <li>Javascript</li>
          <li>Jquery</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tools</h5>
      <div class="card-text"><ul>
          <li>Atom</li>
          <li>Terminal</li>
          <li>Sourcetree</li>
          <li>Bitbucket</li>
          <li>Github</li>
          <li>Zeplin</li>
        </ul>
      </div>
    </div>
  </div>
</div>
  </div></section>

  <section>
    <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/images/mockup/Mp4/Mock-up.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>
  </section>

  <section id="workbench">
    <div class="container">
      <div class="workbench-heading">
        Workbench
      </div>
      <div class="card-columns">

      <div class="card">
        <img class="card-img-top" src="/images/comic.jpg" alt="Card image">
        <div class="card-img-overlay">
      <h4 class="card-title">Pop Culture</h4>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/code.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <!--<div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>-->

  <div class="card">
    <img class="card-img-top" src="/images/idea.jpg" alt="Card image">
    <div class="card-img-overlay">
  <h4 class="card-title">Experiments</h4>
</div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/images/travel.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <!--<div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>-->
  <div class="card">
    <img class="card-img-top" src="/images/book.jpg" alt="Card image">
    <div class="card-img-overlay">
  <h4 class="card-title">Bibliophile</h4>
</div>
  </div>
  <div class="card text-center">
    <img class="card-img-top" src="/images/code2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/laptop.jpg" alt="Card image">
    <div class="card-img-overlay">
  <h4 class="card-title">Projects</h4>
</div>
  </div>
  <!--
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
-->
<div class="card">
  <img class="card-img-top" src="/images/book3.jpg" alt="Card image">
  <div class="card-img-overlay">
<h4 class="card-title">Travel</h4>
</div>
</div>

  <div class="card">
    <img class="card-img-top" src="/images/code3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

<div class="card">
  <img class="card-img-top" src="/images/food.jpg" alt="Card image">
  <div class="card-img-overlay">
<h4 class="card-title">Food</h4>
</div>

</div>

<div class="card">
  <img class="card-img-top" src="/images/book2.jpg" alt="Card image">
  <div class="card-img-overlay">
<h4 class="card-title">Writer</h4>
</div>

</div>
    </div>
  </section>
</div>
