<!--<div class="accordion-list">
    <div class="accordion-item">
        <div class="accordion-item-toggle">jkjkjdkjdkj</div>
        <div class="accordion-item-content">...</div>
    </div>
    <div class="accordion-item accordion-item-opened">
        <div class="accordion-item-toggle">...</div>
        <div class="accordion-item-content">...</div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-toggle">...</div>
        <div class="accordion-item-content">...</div>
    </div>
</div>
-->
