
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">Front-End Developer. Travel Enthusiast. Fussy Bibliophile.<br/> Guilty Glutton. Novice Writer. Dabbler. Wizard.</span>
  </div>
</div>

<div class="content-white">
  <!--<h3 style="text-align:center;">Parallax Demo</h3>-->
  <p>I stumbled upon front-end development as a campus hire in Deloitte about 3 years back. As a part of the Bangalore studio, this accidental stumbling culminated into a love affair. Many web projects were conceived and born with different frameworks and the liaison has continued ever since. So, in short,  a Front-End Developer by day and dabbler by night. I dabble in everything and anything. There is a lot of learning left to do and I am always insatiable. Whether its a new front-end framework, a thrifty travel hack, an undiscovered moral of a story or a new marvel theory...I dabble away!</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border border-heading" >I believe in Clear Code, Simple Designs, Muggles, Unicorns, Rainbows and Tony Stark.</span>
  </div>
</div>

<div class="relative"> <!-- -->
  <div class="content work-containter">
    <section id="work">
      <div class="container">
        <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Frameworks</h5>
        <div class="card-text"><ul>
            <li>Bootstrap</li>
            <li>Material Design</li>
            <li>Framework7</li>
            <li>Angular JS</li>
            <li>React JS</li>
            <li>Sails JS</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Languages</h5>
        <div class="card-text"><ul>
            <li>HTML</li>
            <li>Handlebars</li>
            <li>CSS</li>
            <li>Sass</li>
            <li>Less</li>
            <li>Javascript</li>
            <li>Jquery</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tools</h5>
        <div class="card-text"><ul>
            <li>Atom</li>
            <li>Terminal</li>
            <li>Sourcetree</li>
            <li>Bitbucket</li>
            <li>Github</li>
            <li>Zeplin</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </div></section>

  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border border-heading" >WORKBENCH</span>
  </div>
</div>

<div class="relative"><!-- -->
  <div class="content work-containter" >
 <section id="work">
   <div class="container">
     <div class="card-deck">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">What work would you like to see ?</h5>
         <div class="card-text">
           <div class="row">
             <div class="col">
           <button class="primary-btn" data-toggle="collapse" data-target="#primary">Projects and Experiments</button>
           <p> Eat. Sleep. Code. Repeat. Eat. Sleep. Code. Repeat. Eat. Sleep. Code. Repeat. Eat. Sleep. Code. Repeat.</p>
           <div class="row level-1 collapse" id="primary">
             <div class="col level-1-1">
             <button class="primary-btn">This Website</button>
           </div>
           <div class="col level-1-2">
           <button class="primary-btn">React Quote Generator</button>
         </div>
           </div>
         </div>
         <div class="col">
            <button class="primary-btn" data-toggle="collapse" data-target="#secondary">Other Dabbling</button>
            <p> Eat. Sleep. Travel. Repeat. Eat. Sleep. Write. Repeat. Eat. Sleep. Dream. Repeat. Eat. Sleep. ???. Repeat.</p>
            <div class="row level-1 collapse" id="secondary">
              <div class="col level-1-1">
              <button class="primary-btn">Food</button>
            </div>
            <div class="col level-1-2">
            <button class="primary-btn">Travel</button>
          </div>
          <div class="col level-1-2">
          <button class="primary-btn">Pop Culture</button>
        </div>
            </div>
         </div>
       </div>
       </div>
     </div>
   </div>
 </div>

 </section>

  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">Say Hi!</span>
    <div class="social"><a href="https://www.linkedin.com/in/shomona-mukherjee-1b6989113/" class="fa fa-linkedin external" target="_blank"></a> <a href="https://www.facebook.com/pplrulz.sho" class="fa fa-facebook external" target="_blank"></a><a href="https://www.instagram.com/shomona.mukherjee/" class="fa fa-instagram external" target="_blank"></a></span>
  </div>
</div>

</body>
</html>
