<!-- Page for yelp discovery -->
<!--
<div class ="row">
  <div class="section-1 col-md-12">
    <div class="col-md-12 primary-text">
      Can i bounce some ideas of you ?
      <div class="btn-panel col-md-12">
        <button class="primary-btn">Maybe..Yes</button>
        <button class="primary-btn">Err..No</button>
      </div>
    </div>
  </div>
  <div class="section-2 col-md-12">
    <div class="smartphone ">
    <div class="content">
      <iframe src="/w3css/tryw3css_templates_band.htm" style="width:100%;border:none;height:100%" />
    </div>
  </div>
  </div>
</div>
-->
<div class="section-1 ">
  <div class=" primary-text">
    Can i bounce some ideas of you ?
    <div class="btn-panel ">
      <button class="primary-btn">Maybe..Yes</button>
      <button class="primary-btn">Err..No</button>
    </div>
  </div>
  <div class="scroll">
        <a href="#section2"><span></span><span></span><span></span></a>
  </div>
</div>
<div class="section-2 " id="section2">
  <div class="smartphone ">
    <div class="content">
      <iframe src="/yelp-ideas" style="width:100%;border:none;height:100%" />
    </div>
  </div>
</div>
